<!doctype html>
<html>
<head>
    <title>Exploratory Data Analysis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Exploratory Data Analysis</h1>
        <div class="row">
            {% for image in images %}
            <div class="col-md-6">
                <!-- <img src="{{ url_for('static', filename=image.split('/')[-1]) }}" alt="EDA Image" class="img-fluid"> -->
                <img src="{{ image }}" alt="EDA Image" class="img-fluid">
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
